---
import "../styles/Works.css";

const Jobs = [
  {
    title: "Ingeniero En Diseño De Soluciones",
    company: "D-RAM",
    description:
      "Responsable del diseño, implementación y soporte de infraestructuras IT, incluyendo servidores, virtualización, redes y servicios en la nube. Gestión de preventa, análisis de requerimientos y optimización de sistemas para garantizar eficiencia y seguridad tecnológica.",
    date_init: "2024",
    date_finish: "Actualmente",
    image: "/AWS-logo.png",
    alt: "D-RAM",
    color: "#DFEFD7",
  },
  {
    title: "Ingeniero En Diseño De Volumen",
    company: "D-RAM",
    description:
      "Responsable del diseño, instalación y soporte de soluciones de cómputo corporativo, incluyendo laptops, PCs, Mac, sistemas de impresión, audio y domótica. Especializado en ensamble e ingeniería de equipos gamer, mantenimiento de hardware y seguridad informática. Experiencia en ofimática y software de diseño para ofrecer soluciones tecnológicas integrales.",
    date_init: "2024",
    date_finish: "2025",
    image: "/AWS-logo.png",
    alt: "D-RAM",
    color: "#FAE5D1",
  },
  {
    title: "Docente de Bachillerato Y Carrera Técnica",
    company: "Liceo de Artes y Oficios A. C.",
    description:
      "Impartí clases en Mantenimiento de Computadoras, Programación, Diseño Digital y Desarrollo Web. Implementé Cisco IT Essentials en formación técnica y desarrollé proyectos aplicados en informática, contabilidad y gestión de PyMEs gastronómicas. Diseñé cursos en línea en plataformas como CHAMILO y Conecta Empleo, promoviendo el aprendizaje interactivo.",
    date_init: "2017",
    date_finish: "2023",
    image: "/AWS-logo.png",
    alt: "Liceo de Artes y Oficios A. C.",
    color: "#E7E0EB",
  },
  {
    title: "Coordinador de TI",
    company: "Liceo de Artes y Oficios A. C.",
    description:
      "Responsable del soporte técnico y administración de la infraestructura tecnológica, incluyendo 60 PCs, redes LAN/WLAN y sistemas de almacenamiento en la nube. Gestión de plataformas TIC como Office 365 Educativo, control de asistencia biométrico y documentación del departamento. Lideré la expansión de la red inalámbrica y la capacitación del personal en herramientas digitales.",
    date_init: "2017",
    date_finish: "2023",
    image: "/AWS-logo.png",
    alt: "Liceo de Artes y Oficios A. C.",
    color: "#D1EAFA",
  },
  {
    title: "Docente Bachillerato UVM",
    company: "UVM",
    description:
      "Imparto clases en Tecnologías de la Información, Bases de Datos con Access y Excel básico, enfocadas en el desarrollo de habilidades digitales y certificaciones. Certificado como docente en Google, promoviendo el uso de herramientas tecnológicas en la educación.",
    date_init: "2021",
    date_finish: "2023",
    image: "/AWS-logo.png",
    alt: "UVM",
    color: "#FAD1D1",
  },
  {
    title: "Asistencia Técnica y administrativa a Coordinación de Proyectos",
    company: "Servicios Marinos y Terrestres S.A de C. V.",
    description:
      "Gestión de recursos, almacén y logística de proyectos. Elaboración de programas de trabajo en Microsoft Project, reportes técnicos y análisis de avances. Administración de documentación clave y caja chica.",
    date_init: "2012",
    date_finish: "2015",
    image: "/AWS-logo.png",
    alt: "Servicios Marinos y Terrestres S.A de C. V.",
    color: "#D1FAE4",
  },
];
---

<section class="jobs-list">
  <div class="container-job">
    {
      Jobs.map((job, index) => (
        <div
          class="information-job"
          style={`background-color: ${job.color}; color: ${job.color[index % job.color.length]}`}
        >
          <h3>{job.title}</h3>
          <p class="description-job">{job.description}</p>
          <p class="company-job">{job.company}</p>
          <div class="ilustration-job">
            <img class="image-job" src={job.image} alt={job.alt} />
            <p>
              {job.date_init} - {job.date_finish}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</section>
